{% extends "base.html.twig" %}

{% block title %} Admin > Liste des articles {% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Titre</th>
                <th scope="col">Date de Publication</th>
                <th scope="col">Auteur</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>

    </table>
{% endblock %}