{#
On n'extends pas le base.html.twig car les directives
    CSS sont parfois trop complexes pour les client mail
    aller sur : https://colorlib.com/wp/responsive-html-email-templates/
#}

<h1>Message de {{ nom }}</h1>
<p>{{ message }}</p>